/*FOR NAVBAR*/
  .navBarBackgroundColor {
    background-color: #F1F1F1;
  }

  .hamburgerButton {
    background-color: black;
  }

  .icon-bar {
    background-color: white;
  }

  .wutsinLogo {
    padding-left: .5vw;
    padding-right: 1vw;
  }
/*FOR NAVBAR*/

/*FOR FEATURED ITEMS ON HOME PAGE*/
  .featuredImg {
    width: 100%;
  }
/*FOR FEATURED ITEMS ON HOME PAGE*/

/*FOR 404 IMAGE*/
  .img-404 {
    padding-left: 0;
    padding-right: 0;
    margin-top: -6vh;
  }

  .deathStarImg {
    width: 100%;
    height: auto;
  }

  .black-background {
    background-color: #151515;
  }
/*FOR 404 IMAGE*/
