/* COMMON BODY */
body {
    background: url("/img/background.jpg");
    background-attachment: fixed;
    color:  aliceblue;
    text-align: center;
}

h1, h2, h3 {
    text-shadow: 3px 3px 7px #000000;
}

p, h4 {
    color: white;
}
/* removes text shadow */
.clearfix > h3, span {
    text-shadow: 0px 0px 0px #000000;
}

/*FOR NAVBAR*/
.hamburgerButton {
    background-color: darkgray;
}

.wutsinLogo {
    padding-left: 2vw;
    padding-right: 2vw;
}

/* LANDING PAGE */
.thumbnail {
    background: rgba(240, 83, 0, 0.5);
    color: white;
}

.featuredImg {
    width: 100%;
}

/* CREATE ITEM */
label {
    font-size: 20px;
    text-shadow: 3px 3px 1px #000000;
    color: aliceblue;
}

.table {
    background-color: black;
    border: 1px solid white;
}

/* FOR 404 IMAGE */
.img-404 {
    padding-left: 0;
    padding-right: 0;
    margin-top: -6vh;
}

.deathStarImg {
    width: 100%;
    height: auto;
}

.black-background {
    background-color: #151515;
}

/*IMAGE UPLOAD CSS*/
.imageupload.imageupload-disabled {
    cursor: not-allowed;
    opacity: 0.60;
}

.imageupload.imageupload-disabled > * {
    pointer-events: none;
}

.imageupload .panel-title {
    padding-top: 8px;
}

.imageupload .alert {
    margin-bottom: 10px;
}

.imageupload .btn-file {
    overflow: hidden;
    position: relative;
}

.imageupload .btn-file input[type="file"] {
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.imageupload .file-tab button {
    display: none;
}

.imageupload .file-tab .thumbnail {
    margin-bottom: 2px;
}



/* STATE/COUNTY UPLOADER */
#county_drop_down, #no_county_drop_down, #loading_county_drop_down {
    display: none;
}

/* AD SHOW */
.custom-adSHOW-ad-img {
    width: 100%;
}
.custom-adSHOW-ad-show-header {
    text-align: center;
}
.custom-adSHOW-h3 {
    text-align: center;
}
.custom-adSHOW-anchor {
    margin: 0;
}
.custom-adSHOW-center {
    text-align: center;
}

/* AD INDEX */
.custom-adINDEX-ad-img {
    width: 100%;
}
.custom-adINDEX-ad-img a {
    margin: 0;
}
.custom-adINDEX-h3 {
    text-align: center;
}
.custom-adINDEX-anchor {
    margin: 0;
}

.customThumbNail {
    height: 530px;
    width: 360px
}

.customCaption {
    height: 500px;
}

.itemsForSaleHeader {
    margin-left: 6%;
}

/* AD EDIT */
.custom-adEDIT-ad-img {
    width: 100%;
}
.custom-adEDIT-ad-img a {
    margin: 0;
}
.custom-adEDIT-h3 {
    text-align: center;
}
.custom-adEDIT-anchor {
    margin: 0;
}
.custom-adEDIT-ad-edit-main {

}

 /* FOR LOGIN PAGE */
 .loginButtons {
     width: 100%;
 }

 /* FOR SIGNUP PAGE */
 .signupButton {
     width: 100%;
 }

 /* FOR ADCREATE PAGE */
 .adcreateButton {
     width: 100%;
 }

  /* ACCOUNT PAGE */
  #login > div > form > div:nth-child(1) > img {
     width: 25vw;
  }

 .thumbnail > img {
     height: 50vh;
 }
