/*FOR NAVBAR*/
  .navBarBackgroundColor {
    background-color: #F1F1F1;
  }

  .hamburgerButton {
    background-color: black;
  }

  .icon-bar {
    background-color: white;
  }

  .wutsinLogo {
    padding-left: .5vw;
    padding-right: 1vw;
  }
/*FOR NAVBAR*/
